extends layout

block content
  article(class="message pt-2")
    div(class="message-header")
      p Welcome!
    div(class="message-body") Hello! You haven’t entered your daily health status yet
  div.pb-6
  div.content.is-medium
    div.block.bottom-border
      a.has-text-primary(href="health") Health Status
    div.block.bottom-border
      a.has-text-primary(href="status") Emotion
    div.block.bottom-border
      a.has-text-primary(href="meditations") Meditation
    div.block.bottom-border
      a.has-text-primary(href="games") Multi-player Game
    div.block.bottom-border
      a.has-text-primary(href="storypreview") COVID Stories
