doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet" type="text/css" href="node_modules/bulma/0.5.1/css/bulma.css")

  body
    block content
