.level.is-mobile
  .level-left
    .level-item.content.is-large
      a.has-text-primary(href='/') COVIDCare
  .level-right
    .level-item.content.is-medium
      button.button.is-primary.is-light(id='back_btn') Back
