doctype html
html(lang="en")
    head
        title Page title
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        meta(name="description" content="")
        meta(name="author" content="")
        link(rel="stylesheet" href="css/bulma/bulma-theme.css")
        link(rel="icon" href="favicon.ico")
        script(src="js/main.js")
    body
        .container.is-fluid


            section.section
                .container.py-4
                    h2.title.has-text-centered.mb-6 The Pied Piper Blog
                    .columns.is-multiline.mb-6
                        .column.is-6-tablet.is-3-desktop
                            .card(style="height: 100%")
                                .card-image
                                    a(href="#")
                                        img(src="images/Screen_Shot_2020-12-05_at_11.04.26_PM.png", alt="")
                                .card-content
                                    .block
                                        small.is-size-7 ICON
                                    h5.title.is-6
                                        a(href="#")
                                    p
                        .column.is-6-tablet.is-3-widescreen
                            .card(style="height: 100%")
                                .card-image
                                    a(href="#")
                                        img(src="placeholder/pictures/bg_4-3.svg?primary=00d1b2", alt="")
                                .card-content
                                    .block
                                        small.is-size-7 25 Jun 2018 | By Bertram Gilfoyle
                                    h5.title.is-6
                                        a(href="#") Secrets of Decentralization
                                    p What makes decentralization so great? Let me enlighten you with my wisdom
                    .buttons.is-centered
                        a.button.is-primary(href="#") Read more


            section.section
                .container.py-4
                    h2.title.has-text-centered.mb-6 Primary Color

                    .columns.is-multiline
                        .column
                            .card(style="height: 100%")
                                .card-image
                                    a(href="#")
                                        img(src="images/Screen_Shot_2020-12-05_at_11.13.34_PM.png", alt="")
                                .card-content
                                    span.is-size-7 25 Jun 2019
                                    h5.title.is-5
                                        a(href="#") green-light #ccf6c8
                                    a.button.is-primary(href="#") Read more
                        .column
                            .card(style="height: 100%")
                                .card-image
                                    a(href="#")
                                        img(src="images/Screen_Shot_2020-12-05_at_11.14.13_PM.png", alt="")
                                .card-content
                                    span.is-size-7 25 Jun 2019
                                    h5.title.is-5
                                        a(href="#") yellow-light #fafcc2
                                    a.button.is-primary(href="#") Read more
                        .column
                            .card(style="height: 100%")
                                .card-image
                                    a(href="#")
                                        img(src="images/Screen_Shot_2020-12-05_at_11.14.35_PM.png", alt="")
                                .card-content
                                    span.is-size-7 25 Jun 2019
                                    h5.title.is-5
                                        a(href="#") orange-light #f6d6ad
                                    a.button.is-primary(href="#") Read more


            section.section
                .container.py-4
                    h2.title.has-text-centered.mb-6 Secondary colors

                    .columns.is-multiline
                        .column
                            .card(style="height: 100%")
                                .card-image
                                    a(href="#")
                                        img(src="images/Screen_Shot_2020-12-05_at_11.15.47_PM.png", alt="")
                                .card-content
                                    span.is-size-7 25 Jun 2019
                                    h5.title.is-5
                                        a(href="#") #a3c5a0
                                    a.button.is-primary(href="#") Read more
                        .column
                            .card(style="height: 100%")
                                .card-image
                                    a(href="#")
                                        img(src="images/Screen_Shot_2020-12-05_at_11.16.09_PM.png", alt="")
                                .card-content
                                    span.is-size-7 25 Jun 2019
                                    h5.title.is-5
                                        a(href="#") #d6f8d3
                                    a.button.is-primary(href="#") Read more
                        .column
                            .card(style="height: 100%")
                                .card-image
                                    a(href="#")
                                        img(src="images/Screen_Shot_2020-12-05_at_11.16.32_PM.png", alt="")
                                .card-content
                                    span.is-size-7 25 Jun 2019
                                    h5.title.is-5
                                        a(href="#") #c8ca9b
                                    a.button.is-primary(href="#") Read more


            section.section
                .container.py-4
                    h2.title.has-text-centered.mb-6 The Pied Piper Blog

                    .columns.is-multiline
                        .column
                            .card(style="height: 100%")
                                .card-image
                                    a(href="#")
                                        img(src="images/Screen_Shot_2020-12-05_at_11.17.28_PM.png", alt="")
                                .card-content
                                    span.is-size-7 25 Jun 2019
                                    h5.title.is-5
                                        a(href="#") #fbfdce
                                    a.button.is-primary(href="#") Read more
                        .column
                            .card(style="height: 100%")
                                .card-image
                                    a(href="#")
                                        img(src="images/Screen_Shot_2020-12-05_at_11.18.04_PM.png", alt="")
                                .card-content
                                    span.is-size-7 25 Jun 2019
                                    h5.title.is-5
                                        a(href="#") #f8debd
                                    a.button.is-primary(href="#") Read more
                        .column
                            .card(style="height: 100%")
                                .card-image
                                    a(href="#")
                                        img(src="images/Screen_Shot_2020-12-05_at_11.17.45_PM.png", alt="")
                                .card-content
                                    span.is-size-7 25 Jun 2019
                                    h5.title.is-5
                                        a(href="#") #c5ab8a
                                    a.button.is-primary(href="#") Read more


            section.section
                .container.py-4
                    h2.title.has-text-centered.mb-6 Typography

                    .columns
                        .column.is-3
                            h4.title.is-spaced.is-4 Heading one
                            p.subtitle.is-6 Your data is stored in many places at once. Awesome, right?
                            a(href="#") Read more
                        .column.is-3
                            h4.title.is-spaced.is-4 Heading two
                            p.subtitle.is-6 Nobody will be able to use your data without your consent.
                            a(href="#") Read more
                        .column.is-3
                            h4.title.is-spaced.is-4 Body
                            p.subtitle.is-6 Your online activity is only yours to know. Always.
                            a(href="#") Read more
                        .column.is-3
                            h4.title.is-spaced.is-4 Speed
                            p.subtitle.is-6 Unimaginable transfer speed thanks to middle-out compression.
                            a(href="#") Read more

            section.section
                .container.py-4
                    h2.title.has-text-centered.mb-6 Forms

                    .columns.is-centered
                        .column.is-8
                            form
                                .field.is-grouped
                                    .control.is-expanded
                                        input.input(type="email", placeholder="Email")
                                    .control.is-expanded
                                        .select.is-fullwidth
                                            select
                                                option(disabled, selected) Select product
                                                option Product 1
                                                option Product 2
                                                option Product 3
                                .field
                                    .control
                                        textarea.textarea(rows="5", placeholder="Write something...")
                                .field.my-5
                                    .control.has-text-centered
                                        button.button.is-primary(type="submit") Submit
                                
                    .columns.is-centered
                        .column.is-12.is-8-fullhd
                            .level
                                .level-item
                                    .media
                                        .media-left
                                            figure.image.is-24x24
                                                img(src="placeholder/icons/map-marker.svg", alt="")
                                        .media-content
                                            .content
                                                p Pied Piper HQ - 59 Silicon Av.
                                .level-item
                                    .media
                                        .media-left
                                            figure.image.is-24x24
                                                img(src="placeholder/icons/phone.svg", alt="")
                                        .media-content
                                            .content
                                                p 555-333-555
                                .level-item
                                    .media
                                        .media-left
                                            figure.image.is-24x24
                                                img(src="placeholder/icons/envelope.svg", alt="")
                                        .media-content
                                            .content
                                                p pay-the-piper@piedpiper.com